body{
  margin: 0 auto;
  position: relative;
  background-color: #f6f5f4;
  font-family: 'Sawarabi Gothic', sans-serif;
}
.wide{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  min-height: 100vh;
}
@media screen and (max-width: 480px){
  
}
form{
  height: 0;
}
.start{
  position: relative;
  left: 550px;
  top: 300px;
  width: 350px;
  height: 80px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 30px;
}
@media screen and (max-width: 480px){
  .start{
    left: 30px;
  }
}
.start:hover{
  background-color: #777;
  cursor: pointer;
}
.title{
  text-align: center;
  font-size: 45px;
  margin-bottom: 30px;
  color:#ffa411;
  text-shadow: 1px 1px 1px #000;
  font-family: 'Acme', sans-serif;
}
@media screen and (max-width: 480px){
  .title{
    font-size: 50px;
    margin-bottom: 80px;
  }
}
.section{
  width: 50%;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
}
@media screen and (max-width: 480px){
  .section{
    width: 100%;
    padding: 10px;
  }
}
.kocount{
  position: absolute;
  top: 50px;
  right: 100px;
  font-size: 20px;
}
@media screen and (max-width: 480px){
  .kocount{
    top: 100px;
    right: 130px;
    font-size: 10px;
  }
}
.border{
  border: 3px double #333;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}
@media screen and (max-width: 480px){
}
.container{
  width: 48%;
}
.pic{
  width:220px;
  height:220px;
  margin:40px auto 20px;
  display:block;
}
@media screen and (max-width: 480px){
  .pic{
    width: 180px;
    height: 180px;
  }
}
.pic img{
  width: 100%;
}
.info{
  width: 50%;
  background-color: #fff;
  margin: 0 auto;
}
meter{
  width: 100%;
}

@media screen and (max-width: 480px){
  .row{
  width: 100%;
  min-height: 200px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  }
}
.content{
  padding-left: 50px;
}
@media screen and (max-width: 480px){
  .content{
    padding: 0;
    right: 20px;
  }
}
.btn{
  width: 120px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 15px 30px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  line-height: 0px;
}
@media screen and (max-width: 480px){
  .btn{
    width: 100px;
    margin-bottom: 10px;
    padding: 15px 20px;
    font-size: 12px;
    line-height: 0px;
    text-align: center;
  }
}
.btn:hover{
  opacity: .5;
  cursor: pointer;
}

.content .form{
  display: block;
   width: 300px;
}
@media screen and (max-width: 480px){
  .content .form{
    width: 150px;
    box-sizing: border-box;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
  }
}

.span{
  color: red;
}
@media screen and (max-width: 480px){
  .span{
  color:red;
  font-size:10px;
  }
}
